nav > ul {
  list-style: none; /* 移除項目符號 */
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 26px;
}


/* 滑鼠移到 <a> 時變成深底淺色 */
.active {
  color: #f75000;
}
.userprofile > .active > img{
  content:url("../assets/images/info-active.png");
}
.home > .active > img{
  content:url("../assets/images/home-active.png");
}
.setting > .active > img{
  content:url("../assets/images/setting-active.png");
}
nav a {
  color: inherit; /* 移除超連結顏色 */
  display: block; /* 讓 <a> 填滿 <li> */
  font-size: 1rem;
  padding: 10px;
  text-decoration: none; /* 移除超連結底線 */
}
button {
  all: unset;
}
.button {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  background: #f75000;
  border-radius: 50px;

}
.navbar-logo {
  width: 40px;
  height: 40px;
  margin: 10px auto auto auto;
}
.navbar-icon {
  width: 20px;
  height: 20px;
  bottom: 0px;
  margin: 10px 17.62px 0 0;
}




