.recommended-list {
  background-color: $dark-20;
  border-radius: 16px;
}
.list-header {
  border-bottom: 1px solid $border;
}
h4 {
  padding: 24px;
  
}
.list-container {
  padding-bottom: 16px;
}

.user-container {
  width: 240px;
  margin: 16px;
}

.user-img {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 50%
}

.name {
  @include font-setting(15px, 700, $dark-100, 26px);
}

.account {
  @include font-setting(14px, 400, $dark-70, 22px);
}

.btn-isFollowed {
  margin: auto;
  padding: 8px 16px;
  width: 92px;
  height: 40px;
  @include font-setting(15px, 400, $bg-color, 24px);
}

.btn-unFollow {
  background-color: transparent;
  margin: auto;
  padding: 8px 16px;
  width: 64px;
  height: 40px;
  border: 1px solid $brand;
  @include font-setting(15px, 400, $brand, 24px);

}