

button {
  @extend %sign-button;
}

.sign-up-form-label-group {
  @extend %sign-form-setting;
}
.sign-up-form-label-group:hover {
  border-bottom: 2px solid #50B5FF;
}

label {
  @include font-setting(14px, 400, $dark-80, 22px);
}

.logo {
  width: 40px;
  height: 40px;
  margin: 69px auto 29px auto;
}

.sign-page-title {
  margin-bottom: 40px;
}

