.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  margin-top: 60px;
}

.modal-container {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 14px;
}

.modal-header {
  border-bottom: 1px $border solid;
}

.modal-body {
  padding: 0 10px 0 10px;
  margin: 20px 0;
  display: flex;

  .avatar {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  .tweet {
    font-size: 25px;
    resize: none;
    width: 510px;
    height: 149px;
    border: none;
  }

  .tweet::-webkit-input-placeholder {
    font-size: 18px;
    font: #9197a3;
  }
}


.warn {
    margin: 8px 20px;
    @include font-setting(15px, 500, $brand, 22px);
  }

.btn-close {
  width: 15px;
  height: 15px;
  margin: 20px 19px;
}

.modal-tweet-button {
  margin: 0 16px 0 0;
  padding: 8px 16px;
  width: 64px;
  height: 40px;
  @include font-setting(15px, 400, white, 22px);
}