
.w100{
  height:100%;
}
.leftSection{
 
  width:178px;
  margin-left:0px;
  margin-right:24px
  }
  .centerSection{
  border:1px solid #E6ECF0;
  width:639px;
  margin-left:0px;
  margin-right:25px
  }
  .rightSection{

  margin-left:0px;
  width:273px;
  }