.user-profile-title {
  height: 75px;
}
.user-back {
  margin-right: 19px
}

.tweet-amount {
  @include font-setting(13px, 500, $secondary, 18px);
}


.user-profile-bg {
 max-width: 100%; 
 max-height: 100%; 
 margin-bottom: 0px
}

.user-profile-info {
  padding-top: 60px ;
  height: 200px;
  position: relative;

}

.user-profile-img {
  border: 2px solid white;
  border-radius: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 16.13px;
  top: -50px;
}

.edit-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  margin: auto;
  padding: 8px 16px;
  width: 128px;
  height: 40px;
  border: 1px solid #FF6600;
  @include font-setting(15px, 400, $brand, 24px);
}
.user-profile-main {
  padding: 0 16.13px
}

.user-follow-count {
  @include font-setting(14px, 400, $secondary, 22px);
}
.user-following {
  margin-right: 20px;
}

.user-nav-group {
  list-style: none;
  /* 移除項目符號 */
  margin: 0;
  padding: 20px  45px 0 0;
  position: relative;
  border-bottom: 1px solid $border;
}
.nav-user-link {
  text-decoration: none;/* 移除超連結底線 */
  padding: 0 45px 15px 50px;
  @include font-setting(15px, 700, #657786, 23px);
}


.user-nav-group :hover {
  border-bottom: 1px solid #FF6600;
  color: #FF6600;
  padding-bottom: 13px;
}

.profile-nav-list {
  height: 40vh;
  overflow-y: scroll;
}

.profile-nav-list::-webkit-scrollbar {
  width: 8px;
}

.profile-nav-list::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 50px;
}

.to-user-follow {
  all: unset;
  text-decoration: none;
}
.to-user-follow:hover {
  color: $brand
}