
$brand: #FF6600;
$primary: #0062FF;
$secondary: #6C757D;
$success: #82C43C;
$warning: #FFC542;
$error: #FC5A5A;
$default: #657786;
$border: #E6ECF0;
$bg-color: #FFF;
$dark-20: #FAFAFB;
$dark-30: #F1F1F5;
$dark-40: #E2E2EA;
$dark-50: #D5D5DC;
$dark-60: #B5B5BE;
$dark-70: #92929D;
$dark-80: #696974;
$side-bar-font: #44444F;
$dark-100: #171725;
$underline: #657786;
$info: #50B5FF;
$placeholder-bg: #F5F8FA;
$placeholder-disable: #D5D5DC;
