*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
  width: 90%;
  height: 100%;
  min-width: 960px;
  margin: 0 auto;
  padding: 0;
  background-color: $bg-color;
}

#app {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  color: $dark-100
}

h1 {
  font-size: 68px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  ;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

ul,
li {
  /* remove dots */
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  }
a:hover {
  color: $brand;
}

button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  button:disabled {
    pointer-events: none;
  }
}

select {
  border: none;
}



/* 使用@mixin設定 */

//文字樣式
@mixin font-setting($size, $weight, $color, $line-height) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
}


/* 使用@extend 繼承設定 */

//登入註冊欄位
%sign-form-setting {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
  padding: 2px 10.55px;
  width: 356px;
  height: 54px;
  border-bottom: 2px solid $underline;
  border-radius: 2px;
  margin-bottom: 32px;
  background-color: $placeholder-bg;
}

//帳戶設定頁面
%settimg-form {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
  padding: 2px 10.55px;
  width: 470px;
  height: 54px;
  border-bottom: 2px solid $underline;
  border-radius: 2px;
  margin-bottom: 32px;
  background-color: $placeholder-bg;
}

//登入註冊頁面按鈕
%sign-button {
  padding: 8px 24px;
  width: 356px;
  height: 46px;
  margin: 40px auto 22px auto;
  /* color/brand/main */
  background: $brand;
  border-radius: 50px;
  @include font-setting(20px, 400, $bg-color, 30px)
}

%active {
  opacity: 0.5;

  &:hover,
  &.active {
    opacity: 1;
  }

}

input {
  margin: 4px 0 2px 0;
  border: none;
  background-color: $placeholder-bg;
}

input:required,
input:invalid {
  box-shadow: none;
}


::placeholder {
  /* CSS 3 標準 */
  @include font-setting(16px, 400, $dark-60, 26px);
  background-color: transparent;
}


:-ms-input-placeholder {
  /* IE 10+ */
  @include font-setting(16px, 400, $dark-60, 26px);
  background-color: transparent;
}




/*主頁共用樣式Home、UserProfile、Setting、Reply*/

.container {
  width: 100%;
  height: 100%;
  margin: 0 2rem;
}

.main-title {
  padding: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid $border;
}

.w100 {
  height: 100%;
}

.leftSection {
  width: 18%;
  margin-left: 0px;
  padding-right: 24px;
}

.centerSection {
  width: 56%;
  margin-left: 0px;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

.rightSection {
  padding-left: 25px;
  width: 29%;
}

/* RWD樣式 */

@media screen and (min-width: 992px) {

  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {

  .container {
    width: 1140px;
  }

  .leftSection {
    width: 178px;
    margin-left: 0px;
    margin-right: 24px
  }

  .centerSection {
    border: 1px solid #E6ECF0;
    width: 641px;
    margin-left: 0px;
    margin-right: 25px
  }

  .rightSection {
    margin-left: 0px;
    width: 273px;
  }
}